.chat {
    height: 100%;
    width: 100%;
    background-color: #cdfae1;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: start;

}

.mytext,
.myres {
    width: 50rem;
    color: #2c8f82;
    background-color: white;
    height: 100%;
    display: flex;
    border-radius: 2px;
    /* display:flex; */
    /* flex-direction: column; */
    gap: 20px;
}

.mytext h1,
.myres h1 {
    background-color: white;
    margin: 10px 10px;
    font-size: 1.5vw;
    margin-left: 6vw;
    margin-right: 3vw;
}

.mytext .user_icon,
.myres .user_icon {
    background-color: white;
    margin-top: 14px;
    position: absolute;
    margin-left: 2vw;
}

.initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
    color: #00a193;
    width: 70%;
    user-select: none;
}

.suggestion {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;

}

.s1 {
    width: 40%;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
}

.s1:hover {
    background-color: rgb(243, 243, 243);
    transform: scale(1.05);
}

@media (max-width: 800px) {

    .mytext,
    .myres {
        width: 320px;
    }

    .mytext h1,
    .myres h1 {
        font-size: 1.5vh;
        margin-left: 40px;
    }

    .mytext .user_icon,
    .myres .user_icon {
        margin-top: 8px;
    }

    .suggestion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s1 {
        height: 40px;
        width: 100%;
    }

    .initial h2 {
        font-size: 18px;
    }
}

.myres {
    /* display: none; */
}