.chat {
    height: 100%;
    width: 100%;
    background-color: #d4f8e4;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: start;

}

.mytext,
.response {
    width: 50rem;
    color: #2c8f82;
    background-color: #FFFAFA;
    height: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #00a193;
    border: #00a193 solid 1.5px;
    gap: 20px;
    flex-direction: column;
}

.myres {
    background-color: transparent;
}

.thumbs {
    background-color: transparent;
    display: flex;
    margin-left: 6vw;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.down:active {
    fill: #00a193;
}

.up:active {
    fill: #00a193;
}

.copy:active {
    fill: #00a193;
}

.mytext h1,
.myres h1 {
    background-color: transparent;
    margin: 10px 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: 1rem;
    margin-left: 6vw;
    margin-right: 3vw;
}

.mytext .user_icon,
.myres .user_icon {
    background-color: #FFFAFA;
    margin-top: 14px;
    position: absolute;
    margin-left: 2vw;
}

.initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
    color: #00a193;
    width: 70%;
    user-select: none;
}

.suggestion {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}

.s1 {
    width: 40%;
    background-color: #FFFAFA;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #00a193;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    box-shadow: 0px 2px 3px #00a193;

}

.s1:hover {
    /* background-color:#00a193 ; */
    background-image: linear-gradient(to right, #2c8f82, #35ac9c, #35ac9c, #31a193);
    color: #FFFAFA;
    transform: scale(1.05);
}

.suggestion:hover {
    transform: scale(1.05);
}

.skelton {
    width: 50rem;
    margin-bottom: 10px;
}

.up,
.down,
.copy {
    background-color: transparent;
    height: 18px;
    width: 18px;

}

.up:hover,
.down:hover,
.copy:hover {
    transform: scale(1.2);
}


@media (max-width: 800px) {

    .mytext,
    .response {
        width: 320px;
    }

    .skelton {
        width: 320px;
    }

    .thumbs {
        margin-left: 40px;
    }

    .mytext h1,
    .myres h1 {
        font-size: 0.8rem;
        margin-left: 40px;
        line-height: 1.4rem;

    }

    .mytext .user_icon,
    .myres .user_icon {
        margin-top: 12px;
        margin-left: 10px;
    }

    .suggestion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s1 {
        height: 40px;
        width: 100%;
    }

    .initial h2 {
        font-size: 18px;
    }
}

.myres {
    /* display: none; */
}