.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 80px;
}

.prompt-container {
  position: relative;
}

.search {
  width: 45rem;
  min-height: 2.5rem;
  border-radius: 5px;
  /* background-color: #FFFAFA; */
  background-image: linear-gradient(to right, #2c8f82, #35ac9c, #35ac9c, #2c8f82);
  border-style: solid;
  border: #2c8f82 solid 1px;
  margin-left: 30px;
  margin-right: 30px;
  color: #2c8f82;
  font-size: 18px;
  font-weight: bold;
  /* box-shadow: 0px 2px 3px #00a193; */

}

.search::placeholder {
  /* color: #2c8f82; */
  color:white;
}

input[type="text"] {
  padding: 0px 40px;
  color:white;
}

.icon-container {
  position: absolute;
  top: 55%;
  right: 50px;
  transform: translateY(-50%);
  /* background-color: #FFFAFA; */
  background-color: transparent;
}


@media (max-width: 800px) {
  .search {
    width: 260px;
  }
}