.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    gap: 20px
}

.bot2 {
    height: 10rem;
    width: 10rem;
    background: none;
    color: #00a193;
}

.box2 input {
    width: 15rem;
    height: 2rem;
    border-radius: 4px;
    padding: 5px 30px;
    border: solid 1px #00a193;
    background-color: white;
    font-weight: bold;
    color: #00a193;
}
.hidden{
    display: none;
}
.box2 button {
    width: 10rem;
    height: 2rem;
    margin-top: 10px;
    border-radius: 4px;
    padding: 0px 40px;
    border: solid 1px #00a193;
    color: white;
    /* background-color: #00a193; */
    background-image: linear-gradient(to right, #2c8f82, #35ac9c, #35ac9c, #2c8f82);
    font-weight: bold;

}

.signupbtn:hover {
    transform: scale(1.05);
}

input::placeholder {
    color: #2c8f82;
}

.box2 p {
    color: #00a193;
}